# autotools generated
*.o
*.so
*.l[oa]
*.loT
.deps
.libs
stamp-h*
config.h
*~
Makefile
Makefile.in
libtool
/aclocal.m4
/autom4te.cache
/src/config.h
/src/config.h.in
/config.log
/config.status
/config
/configure

/config.h.in
/bin/allphot
/bin/parallel
/libs/allframe.bash
/libs/config.bash
/libs/core.bash
/libs/daophot.bash
/libs/options.bash
/libs/output.bash
/libs/paths.bash
/libs/qa.bash
/libs/tests.bash