# autotools generated
*.o
*.so
*.l[oa]
*.loT
.deps
.libs
stamp-h*
config.h
\#*
.#*
*~
Makefile
Makefile.in
libtool
/aclocal.m4
/autom4te.cache
/src/config.h
/src/config.h.in
/config.log
/config.status
/config
/configure
/autoconf

/config.h.in
/bin/allphot
/libs/*.bash
/libs/default.allphot
/tests/sky*.als
/tests/sky*.ap
/tests/sky*.coo
/tests/sky*.lst
/tests/sky*.nei
/tests/sky*.psf
/tests/sky*.pk
/tests/sky*s.fits
/tests/*.opt
src/fitshead
src/fitskey
