# autotools generated
*.o
*.so
*.l[oa]
*.loT
.deps
.libs
stamp-h*
config.h
*~
Makefile
Makefile.in
libtool
/aclocal.m4
/autom4te.cache
/src/config.h
/src/config.h.in
/config.log
/config.status
/config
/configure

/config.h.in
/src/allframe
/src/allstar
/src/daogrow
/src/daomaster
/src/daomatch
/src/daophot
/src/montage2
